.page-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.body-container{
    position: relative;
    display: flex;
    flex: 1;
}