.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2% 10%;
    width: 100%;
}

.row{
    width: 50%;
}


.red {
    color: #b92c28;
}
.green {
    color: #3e8f3e;;
}

.orange {
    color: #e38d13;
}

.blue {
    color: #245580;
}



